# direnv configuration (see: https://direnv.net/)

if ! on_git_branch; then
    echo "WARNING: Not in a git repo, it is recommended to keep track of your flake with git\n"
fi

if on_git_branch main; then
    echo "\nWARNING: On MAIN branch, checkout a branch\n"
fi

if has nix; then
    if has nix-direnv; then # reload the devShell and rebuild the project on next command
        nix_direnv_watch_file *.nix .*.nix pom.xml # nix-direnv is faster
    else
        watch_file *.nix .*.nix pom.xml
    fi
    use flake
else
    echo "WARNING: nix not found"
fi
