# direnv configuration (see: https://direnv.net/)

if ! on_git_branch; then
    echo "WARNING: Not in a git repo, it is recommended to keep track of your flake with git"
fi

if has nix; then
    nix_direnv_watch_file *.nix .*.nix
    use flake
else
    echo "WARNING: nix not found"
fi
